body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.header h1 {
  margin: 0;
}

.chart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.chart .dropdown {
  margin-right: 20px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form input,
.form .datepicker,
.form button {
  padding: 10px;
  font-size: 16px;
}

.searchbar {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.table-container {
  overflow-y: auto;
  max-height: 300px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table-container th {
  background-color: #f4f4f4;
}

body {
  background: linear-gradient(to right, #5fe7ff, #eafe7b);
  font-family: Haettenschweiler, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 95%;
  margin: auto;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #333;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

body {
  background: linear-gradient(to bottom, #ffedd9, #d9d0f0);
  font-family: Haettenschweiler, sans-serif;

  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: auto;
}

.container {
  display: grid;
  grid-template-areas:
    "header chart"
    "form chart"
    "search search"
    "table table";
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 20px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.form-container {
  grid-area: form;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(198, 255, 105, 0.322);
}

.form input,
.form .datepicker,
.form button {
  padding: 10px;

  border: 1px solid #dddddd;
  border-radius: 50px;
}

.chart-container {
  grid-area: chart;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-end;
}

.chart-container .dropdown {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.search-bar {
  grid-area: search;
}

.searchbar {
  width: 100%;
  border: 1px solid #dddddd;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 95%;
  margin: auto;
}

.table-container {
  grid-area: table;

  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #dddddd;

  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 95%;
  margin: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-container th {
  background-color: #4ebeff;
  font-weight: bold;
}

body {
  background: linear-gradient(to bottom, #ffedd9, #d9d0f0);
  font-family: Haettenschweiler, sans-serif;

  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  margin: auto;
}

.container {
  display: grid;
  grid-template-areas:
    "header chart"
    "form chart"
    "search search"
    "table table";
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 20px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.form-container {
  grid-area: form;
}

.form {
  display: flex;
  gap: 10px;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(198, 255, 105, 0.322);
}

.form input,
.form .datepicker,
.form button {
  padding: 10px;

  border: 1px solid #dddddd;
  border-radius: 50px;
}

.chart-container {
  grid-area: chart;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: flex-end;
}

.chart-container .dropdown {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.search-bar {
  grid-area: search;
}

.searchbar {
  width: 100%;
  border: 1px solid #dddddd;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 95%;
  margin: auto;
}

.table-container {
  grid-area: table;

  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #dddddd;

  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 95%;
  margin: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-container th {
  background-color: #4ebeff;
  font-weight: bold;
}
